.container > div {
  display: flex;
  justify-content: left;
  align-items: left;
  font-size: 50em;
  color: #e4d4f3;
}

html, body {
  box-sizing: border-box;
  background-color: #44267ba0;
   align-items: left;
  height: 100%;
  padding: 10px;
  margin: 0px;
}

.container > div:nth-child(1n) {
   font-size: 5em;
  background-color: #440bc853;	
 align-items: left;
  height: 10%;
  padding: 30px;
  margin: 0px;
}

.container > div:nth-child(3n) {
  background-color: #6e2fdc4e;
   align-items: left;
   font-size: 2em;
  height: 10%;
  padding: 10px;
  margin: 0pts;
}

.container > div:nth-child(2n) {
  font-size: 1.5em;
  background-color: #6e2fdc4e;
   align-items: left;
height: 10%;
  padding: 10px;
  margin: 0px;
}

.container > div:nth-child(4n) {
  font-size: 2em;
  background-color: #6e2fdc4e;
   align-items: left;
  height: 20%;
  padding: 10px;
  margin: 0px;
}
body{
    background-image: url("assets2/board.png");
    background-size: cover;
  
}